* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: rgb(27, 27, 32);
    font-family: Arial, Helvetica, sans-serif;
}


table {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border:  solid  1px rgb(0, 0, 0);
    padding: 20px;
}

thead {
    background-color: brown;
    border-bottom:  solid 5px #000000;
    color: white;
}

tr:nth-child(even) {
background-color: #ddd;
}

tr:hover td   {
    background-color: rgb(62, 57, 57);
    color: white;
    
}


.boton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.titulo {
    color: white;
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 7px;
    font-family: Helvetica, sans-serif ;
}

.btResect {
    display: inline-block;
    margin: 15px 5px;
    padding: 12px 10px;
    color: #fff;
    background-color:dodgerblue;
    cursor: pointer;
    border-radius: 2px;
}

.btResect:hover {
    color:turquoise;
}

footer {
    margin:10px;
    color: white;
}